/* Body */
body {
  margin: 0%; /* ensures the site displays to the edge of the browser */
}

/* Navbar */
.Navbar {
  overflow: hidden; /* ensures that any content beyond the boundary is not displayed */
  background-color: #05b2dc;
  position: fixed; /* keeps navbar at the top of the screen */
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Navbar text */
.Navbar a {
  float: left; /* text floats on the left on the navbar */
  display: block; 
  color:#fafaff;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Avant-Garde, Helvetica;
  font-size: 20px;
  text-align: center;
}

/* Navbar hover effect */
.Navbar a:hover {
  background-color: #fafaff;
  color: #1e2749;
  font-weight: bold;
}

/* Navbar home button */
.Navbar a.active  { /* active selector styles a link */
  background-color: #fb6376;

}

/* Video */
#My_Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;
  background-color: #30343f;
}

.Video_Text {
  background: rgba(0,0,0,0.5);
  color: #fafaff;
  width: 100%;
  padding: 20px;
  margin-top: 23%;
}

* {
  box-sizing: border-box;
}

.Column_1 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 3%;
  height: 500px;
  background-color: #e4d9ff;
}

.Column_2 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 1.9%;
  height: 500px;
  background-color: #e4d9ff;
}

.Column_3 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 3.5%;
  height: 450px;
  background-color: #30343f;
}

.Row:after {
  content: "";
  display: table;
  clear: both;
}

/* Heading 1 elements */
h1 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Optima;
  text-align: center;
  margin-top: 3%;
  color: #1e2749;
}

/* paragraph elements */

p {
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #30343f;
}

center {
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  color: #1e2749;
}

label {
  color: #273469;
}
/* anchor elements */
a {
  color: #30343f;
}

/* quotation elements */
q {
  font-style: italic;
  font-weight: bold;
}

/* image elements */

img {
  filter: grayscale(75%);
  border-radius: 8px;
  max-width: 100%;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* contact form */

input[type=text] {
  width: 100%;
  padding: 12px;
border: 1px solid #e4d9ff;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
font-family: Perpetua, Rockwell Extra Bold;
}

/* submit button */
input[type=submit] {
  background-color: #30343f;
  color: #fb6376;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for submit button */
input[type=submit]:hover {
  background-color:#fafaff;
  color: black;
  font-weight: bold;
  transform: scale(1.5);
  transition: transform 1.5s;
}

/* form element */
form {
  border-radius: 5px;
  background-color: #e4d9ff;
  padding: 20px;
  font-family: "Trebuchet MS", Optima;
}

/* Center align element hover effect */
center:hover {
  transition: transform 2s;
  transform: scale(1.1);
}

/* Paragraph element hover effect */
p:hover {
  color: #273469;
  transition: transform 1s;
  transform: scale(1.01);
}

/* Heading 1 element hover effect */
h1:hover {
  color: #1e2749;
  font-weight: normal;
}

/* Image element hover effects */
img:hover {
  filter:grayscale(5%);
  transition: transform 1s;
  transform: scale(1.1);
}

/* footer element */
footer {
  padding: 2%;
  background-color: #fb6376;
}